<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PickCom:대한민국 1등 PC 쇼핑몰</title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/common.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="top">
                <div>
                    <a href="#">로그인</a>
                    <a href="#">회원가입</a>
                    <a href="#">마이페이지</a>
                    <a href="#">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        장바구니</a>
                </div>
            </div>
            <div class="logo">
                <div>
                    <a href="../shop/index.html">
                        <img src="../../cs/img/header_logo.png" alt="로고">
                    </a>    
                </div>
                
            </div>
        </header>
        <form action="login.do" method="post">
        <main id="member">

            <div class="login">
                <nav>
                    <h1>로그인</h1>
                    <p>
                        HOME > 
                        <strong>로그인</strong>
                    </p>
                </nav>
                <form action="#">
                    <table border="0">
                        <input type="hidden" name="MEMBER_NAME">
                        <input type="hidden" name="MEMBER_NICKNAME">
                        <input type="hidden" name="MEMBER_EMAIL">
                        <input type="hidden" name="MEMBER_RANK">
                        <input type="hidden" name="MEMBER_REGDATE">
                        <input type="hidden" name="MEMBER_LASTDATE">
                        <input type="hidden" name="MEMBER_DELETE">
                        <input type="hidden" name="MEMBER_VISITCOUNT">
                        <tr>
                            <td>아이디<td>
                            <td>
                                <input type="text" name="MEMBER_ID" placeholder="아이디 입력">
                            </td>
                        </tr>
                        <tr>
                            <td>비밀번호<td>
                            <td>
                                <input type="password" name="MEMBER_PASSWD" placeholder="비밀번호 입력">
                            </td>
                        </tr>
                    </table>
                    <input type="submit" name="memberLogin" value="로그인">
                    <span>
                        <label>
                            <input type="checkbox" name="auto">자동 로그인
                        </label>
                        <a href="#">아이디찾기</a>
                        <a href="#">비밀번호찾기</a>
                        <a href="/stu/signup01_first.do" name="memberJoin">회원가입</a>
                    </span>
                    <a href="#" class="banner">
                        <img src="./img/member_login_banner.jpg" alt="로그인 옆 이미지 배너">
                    </a>
                </form>
                <img src="./img/member_certifi_logo.gif" alt="banner">
            </div>
        </main>
        </form>
        <footer>
            <ul>
                <li><a href="#">회사소개</a></li>
                <li><a href="#">서비스이용약관</a></li>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">전자금육거래약관</a></li>
            </ul>    
            <div>
                <p>
                    <img src="../../cs/img/footer_logo.png" alt="로고">
                </p>
                <p>
                    <strong>(주) PICKCOM</strong>
                    <br> 서울특별시 강남구 테헤란로 강남건물
                    <br> 대표이사 : 김갑똘
                    <br> 사업자등록번호: 220-81-12345 사업자정보확인
                    <br> 통신판매업신고: 강남 12345호 Fax: 02-123-1234
                </p>
                <p>
                    <strong>고객센터</strong>
                    <br> Tel: 1234-5678 (평일: 09:00~18:00)
                    <br> 경기도 의정부시 서부로 545 효행관 415호
                    <br> Fax: 031-123-4567 | Mail: pickcom@pickcom.co.kr
                </p>
            </div>
        </footer>
    </div>
</body>
</html>